# Backend

api.smd-karlsruhe.de {
    reverse_proxy backend:8090 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}


# Frontend

smd-karlsruhe.de {
    reverse_proxy frontend:3000 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}

# redirections
smd-ka.de, www.smd-ka.de, www.smd-karlsruhe.de {
    redir https://smd-karlsruhe.de{uri}
}

api.smd-ka.de {
    redir https://api.smd-karlsruhe.de{uri}
}


# Nextcloud

cloud.smd-karlsruhe.de {
    reverse_proxy reverse-proxy.docker.internal:11000
}

admin.cloud.smd-karlsruhe.de {
    reverse_proxy https://reverse-proxy.docker.internal:8080 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
