# Backend

api.{$DOMAIN_LONG} {
    reverse_proxy backend:8090 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}


# Frontend

{$DOMAIN_LONG} {
    reverse_proxy frontend:3000 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}

# redirections
{$DOMAIN_SHORT}, www.{$DOMAIN_SHORT}, www.{$DOMAIN_LONG} {
    redir https://{$DOMAIN_LONG}{uri}
}

api.{$DOMAIN_SHORT} {
    redir https://api.{$DOMAIN_LONG}{uri}
}

# Redirect the lecture talk domain to this URL
# There a redirection to the next event is done
{$DOMAIN_LECTURE_TALK}, www.{$DOMAIN_LECTURE_TALK} {
    redir https://{$DOMAIN_LONG}/events/vortrag
}


{$DOMAIN_KINGS_CAFE} {
   reverse_proxy kings_cafe:3000
}

# DokuWiki
# TO BE CHANGED TO wiki.smd-karlsruhe.de
wiki.{$DOMAIN_LONG} {
    reverse_proxy dokuwiki:8080 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}


# Authentik

auth.{$DOMAIN_LONG} {
    reverse_proxy authentik_entrypoint:9000 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}


# Nextcloud AiO

# we cannot easily reach the Nextcloud mastercontainer
# and really, we do not want to publish it anyway

cloud.{$DOMAIN_LONG} {
    # rely on Nextcloud keeping that name the same
    # reaching docker host’s localhost is hard to do
    reverse_proxy nextcloud-aio-apache:8081 {
        # X-Forwarded-For & X-Forwarded-Proto are set by default
        header_up X-Real-IP {remote_host}
    }
}
